body {
display: flex;
background-color: darkgrey;

}

section#velha {
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: aliceblue;
    
}

div.espaco{
    position:static;
    border: 5px solid black;
}


div.espaco.X{
    background-image: url(Img/X.png);
    

}
div.espaco.O{
    background-image: url(Img/O.png);


}