body {
display: flex;
flex-direction: column;
background-color: #FFF56B;

}
section#Cabecalho{
    text-align: center;
    margin-bottom: 15px;
    text-size-adjust:15px;
    font-size: larger;
}

span#Primeiro{
    color: #5D70B3;
    font-size: large;

}
span#Segundo{
    color: #A139B3;
    font-size: large;
}
span#Fim{
    color: #403D1B;
}

section#velha {
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #fffab7;
    
}

div.espaco{
    position:static;
    border: 5px solid black;
}


div.espaco.X{
    background-image: url(Img/X.png);
}
div.espaco.O{
    background-image: url(Img/O.png);
}

#Vitoria{
    visibility: hidden;
    position:absolute;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin:32% 12px 32% 12px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px 10px 20px 10px;
    text-align: center;
    box-shadow:  2px 2px 2px 2px black;
    
    
}
input#sim,
input#nao{
    background-color: #929AB3;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}
